body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: rgb(70, 70, 70);
    background-color: rgb(245, 245, 245);
    position: relative;
    scroll-behavior: smooth;
}
.title{
    font-family: 'Ubuntu', sans-serif;
}
.btnTop{
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    padding: 0.75rem 1rem;
    background-color: rgba(204,174,189, 0.8);
    border-radius: 50%;
}
.btnTop-icon{
    color: white;
    font-size: 1.2rem;
}
.btnTop:hover{
    background-color: rgb(204,174,189);
}
.btnTop:visited{
    background-color: rgba(204,174,189, 0.8);
}
.text-shop{
    text-align: right;
    background-color: rgb(39, 40, 46);
    color: white;
    margin: 0;
    position: relative;
    background-color: chocolate;
}
.icon-shop{
    font-size: 1.75rem;
    padding: 1rem 0.25rem 1.5rem 1rem;
    position: absolute;
    top: 0;
    right: 30px;
}
.icon-shop-count{
    position: absolute;
    top: 5px;
    right: 18px;
    background-color: rgba(248, 206, 236, 0.8);
    display: inline-grid;
    place-content: center;
    width: 25px;
    height: 25px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid rgba(248, 206, 236, 0.8);
    border-radius: 50%;
    font-size: 0.9rem;
    color: rgb(39, 40, 46);
}
.header{
    text-align: center;
    height: 310px;
    background-color: rgb(39, 40, 46);
    color: white;
    display: grid;
    place-content: center;
}
.header i{
    font-size: 8rem;
    color: transparent;
    /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(235, 130, 235), rgb(216, 191, 216));
    background-image: linear-gradient(to right, #78ffd6, #a8ff78); */
    background-image: linear-gradient(to right, rgb(168, 139, 235), rgb(248, 206, 236), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 300%;
    background-position: center;
    animation: animation-icon 5s infinite alternate;
}
@keyframes animation-icon {
    100%{
        background-size: 150%;
    }
}
.greeting{
    margin: 2rem 0;
    text-align: center;
}
.greeting p{
    margin: 0;
}
.greeting i{
    font-size: 3rem;
}

.footer-text-small{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 4rem;
}
.principal-buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}
.principal-btn{
    flex-basis: 22%;
    margin: 1rem 0.25rem;
    box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.2);
    font-weight: 500;
    border: none;
    background-color: rgb(39, 40, 46);
    color: rgb(255, 255, 255);
}
.principal-btn:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.5);
}
.btn-coffee-active{
    color: rgb(39, 40, 46);
    background-color: rgb(209,173,146);
}
.btn-coffee-active:hover{
    color: rgb(39, 40, 46);
}
.btn-juice-active{
    color: rgb(39, 40, 46);
    background-color: rgb(245, 245, 196);
}
.btn-juice-active:hover{
    color: rgb(39, 40, 46);
}
.btn-sweet-active{
    color: rgb(39, 40, 46);
    background-color: rgb(239, 190, 192);
}
.btn-sweet-active:hover{
    color: rgb(39, 40, 46);
}
.btn-salty-active{
    color: rgb(39, 40, 46);
    background-color: rgb(193, 223, 192);
}
.btn-salty-active:hover{
    color: rgb(39, 40, 46);
}
.menu-items{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 1.5rem 0;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.15);
}
.menu-items p{
    margin-bottom: 0.25rem;
}
.item-img{
    flex-basis: 28%;
    height: inherit;
}
.item-img img{
    width: 100%;
    height: inherit;
    opacity: 0.9;
}
.item-text{
    flex-basis: 57%;
    padding-left: 1.5rem;
}
.item-text p:nth-child(1){
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
.item-add{
    flex-basis: 15%;
    text-align: center;
}
.item-add-icon{
    padding: 0.75rem;
    background-color: #dfdfdf;
    border-radius: 5px;
}
.img-icon{
    width: 17%;
    margin: 0 0.25rem;
}
.icon-vegan{
    border: 3px solid rgb(157,208,67);
    border-radius: 50%;
    padding: 0.25rem;
    color: rgb(157,208,67);
    font-size: 0.9rem;
}
.coffee-menu, .juice-menu, .sweet-menu, .salty-menu{
    display: none;
}
.order-section{
    display: none;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.order-text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8); 
}
.order-text p{
    margin: 0;
}
.order-text-name{
    flex-basis: 50%;
    padding-left: 1rem;
    text-align: left;
}
.order-text-cantidad{
    flex-basis: 15%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}
.order-text-cantidad .quantity{
    line-height: 8px;
}
.order-text-cantidad .quantity-icon{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    line-height: 4px;
}
.order-text-price{
    flex-basis: 20%;
    text-align: center;
}
.order-text-cancel{
    flex-basis: 15%;
    text-align: center;
    font-size: 1.7rem;
    color: rgb(133, 159, 201);
}
.empty-order{
    display: none;
}
.notification{
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.notification p{
    background-color: rgba(157,208,67, 0.8);
    margin: 0;
    padding: 1.5rem 0;
}
.notification i{
    font-size: 1.5rem;
}
.no-order{
    display: none;
    text-align: center;
    padding: 2.5rem;
    background-color: white;
    color: rgb(90, 196, 193);
    font: 1.1rem/1.2 'Ubuntu', sans-serif;
}
.no-order i{
    font-size: 1.5rem;
}
.order-total{
    letter-spacing: 2px;
    background-color: rgba(164, 180, 206, 0.2);
    margin: 1rem 0;
    padding: 1rem;
    color: rgb(39, 40, 46);
    border-top: 2px solid rgb(133, 159, 201);
    border-bottom: 2px solid rgb(133, 159, 201);
}
.wapp{
    display: inline-block;
    background-color: rgb(39,212,103);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px rgb(8,94,86);
}
.wapp:visited, .wapp:link{
    color: white;
}
.wapp i{
    font-size: 1.4rem;
}
.show{
    display: block;
}
.hide{
    display: none;
}
@media screen and (min-width: 992px){
    main, .order-section, .notification p{
        width: 40%;
        margin: 0 auto;
    }
    .menu-items{
        height: 120px;
    }
    .img-icon {
        width: 12%;
    }
    .icon-vegan{
        padding: 0.3rem;
        font-size: 1.1rem;
    }
    .item-img{
        flex-basis: 23%;
    }
    .item-add{
        flex-basis: 17%;
    }
}

